:host {
  aspect-ratio: 1;
}

.mat-card {
  grid-template-rows: 1fr auto;
  height: 100%;
  display: grid;
  padding: 0.5rem;
}

.svg-wrapper {
  min-width: 24px;
  max-width: 56px;
  max-height: 56px;
}

.loading-wrapper {
  width: 30px;
  height: 30px;
  animation: rotate 4.3s linear infinite;
  animation-delay: var(--loading-delay);
}

.loading {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  animation: rotate 1s ease-in-out infinite;
  animation-delay: calc(var(--a));
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

img {
  transition: filter 0.4s;
}
