<header class="flex p-6 gap-4 items-center flex-wrap">
  <h1 class="title">Browser Svg</h1>
  <button mat-stroked-button (click)="openDirectory()">Open Directory</button>
  <label>
    Current Color
    <div>
      <input
        #colorInput
        type="text"
        placeholder="#ffffff / white"
        class="pl-1"
        [value]="currentColor"
        (input)="currentColor = colorInput.value"
      />
    </div>
  </label>
  <div class="flex items-center ml-auto">
    <div class="opacity-0 p-2" [class.opacity-100]="downloadZipping$ | async">
      ...
    </div>
    <button
      *ngIf="optimizedSvgMap$ | async"
      mat-stroked-button
      (click)="downloadAll()"
    >
      Download All
    </button>
    <div class="opacity-0 p-2" [class.opacity-100]="svgOptimizing$ | async">
      ...
    </div>
    <button *ngIf="hasHandles$ | async" mat-stroked-button (click)="svgoAll()">
      Svgo All
    </button>
  </div>
</header>

<div class="overflow-auto p-6">
  <main class="main grid gap-8">
    <div
      class="icon-info flex opacity-0"
      [class.opacity-80]="hasHandles$ | async"
    >
      Invert color
      <span class="px-0.5">
        <img
          src="assets/invert_colors.svg"
          alt="invert svg color"
          class="invert opacity-50"
        /> </span
      >; Execute svgo
      <span class="px-0.5">
        <img
          src="assets/optimize.svg"
          alt="optimize svg"
          class="invert opacity-50"
        /> </span
      >; Download optimized svg
      <span class="px-0.5">
        <img
          src="assets/download.svg"
          alt="download optimized svg"
          class="invert opacity-50"
        /> </span
      >;
    </div>
    <app-svg-card
      *ngFor="let handle of fileWithDirectoryHandles$ | async"
      [currentColor]="currentColor"
      [fileWithDirectoryHandle]="handle"
      [optimizedSvgMap]="optimizedSvgMap$ | async"
    ></app-svg-card>
  </main>
  <footer class="sticky top-full mt-4"></footer>
</div>
